<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SynoDuplicateFolders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SynoDuplicateFolders.Properties.Settings>
            <setting name="CacheFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRefreshServer" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepAnalyzerDbCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeepAnalyzerDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DPAPIVector" serializeAs="String">
                <value>Is a gift a gift without wrapping?</value>
            </setting>
            <setting name="RmExecutionMode" serializeAs="String">
                <value>InteractiveSudo</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyMethod" serializeAs="String">
                <value>Http</value>
            </setting>
            <setting name="MaximumComparable" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DiffExe" serializeAs="String">
                <value>C:\Program Files\KDiff3\kdiff3.exe</value>
            </setting>
            <setting name="DiffArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="StorePassPhrases" serializeAs="String">
                <value>False</value>
            </setting>
        </SynoDuplicateFolders.Properties.Settings>
    </userSettings>
</configuration>
