<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SynoDuplicateFolders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SynoDuplicateFolders.Properties.Settings>
            <setting name="CacheFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRefreshServer" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepAnalyzerDbCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeepAnalyzerDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DPAPIVector" serializeAs="String">
                <value>Is a gift a gift without wrapping?</value>
            </setting>
        </SynoDuplicateFolders.Properties.Settings>
    </userSettings>
</configuration>
